@import url('https://fonts.googleapis.com/css2?family=Fragment+Mono&family=Nunito:wght@200;300;400;500;600;700;800;900;1000&family=Poppins:wght@100;200;300;400;500;600;700;800;900&family=Roboto:wght@100;300;400;500;700;900&display=swap');

/*
font-family: 'Fragment Mono', monospace;
font-family: 'Nunito', sans-serif;
font-family: 'Poppins', sans-serif;
font-family: 'Roboto', sans-serif;
*/

:root {
    --font: 'Poppins', sans-serif;
    --bg: #F2F2F2;
    --bgLowOpacity: #F2F2F29F;
    --bgDark: #2E2E2E;
    --accentCol: #8f90c9;
    --accentColDark: #5e5e8b;
    --textColor: #2E2E2E;
    --darkText: #2E2E2E;
    --lightText: #F2F2F2;
    --tagBg: #DDDDDD;
    --shadow: 0 0 16px 5px rgba(0, 0, 0, 0.123);
    --scrollTrack: #dfdfdf;
    --darkTransitions: 500ms;
    --S-icon: brightness(0) saturate(100%) invert(12%) sepia(0%) saturate(1%) hue-rotate(145deg) brightness(97%) contrast(82%);

    --f-200: 0.5rem;
    --f-300: 0.75rem;
    --f-400: 1rem;
    --f-500: 1.25rem;
    --f-600: 1.5rem;
    --f-700: 2rem;
    --f-800: 3rem;
    --f-850: 3.5rem;
    --f-900: 5rem;
}

*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    scroll-padding-top: 9rem;
}

.dark {
    --bg: #2E2E2E;
    --textColor: #F2F2F2;
    --bgLowOpacity: #2E2E2E9F;
    --tagBg: #535353;
    --scrollTrack: #505050;
    --S-icon: brightness(0) saturate(100%) invert(100%) sepia(2%) saturate(705%) hue-rotate(220deg) brightness(114%) contrast(90%);

}

html {
    scroll-behavior: smooth;
}

html ::-webkit-scrollbar {
    width: 0.6vw;
    
}

html ::-webkit-scrollbar-thumb {
    background-color: var(--accentCol);
    border-radius: 500px;
}

html ::-webkit-scrollbar-thumb:hover {
    background-color: #9999c2;
}

html ::-webkit-scrollbar-track {
    background-color: var(--scrollTrack);
    border-radius: 500px;
    transition: background-color var(--darkTransitions);
}

body {
    font-family: var(--font);
    background: var(--bg);
    scroll-behavior: smooth;
    overflow-x: hidden;
    transition: background-color var(--darkTransitions);
}


/* Navbar */


.nav-bg {
    width: 100%;
    background-color: var(--bgLowOpacity);
    transition: background-color var(--darkTransitions);
}

.nav-wrapper {
    margin: auto;
    max-width: 90rem;
    line-height: 100px;
}

.nav-flex {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin: auto;
}

.logo {
    text-decoration: none;
    color: var(--textColor);
    font-weight: 700;
    font-size: var(--f-800);
    transition: color var(--darkTransitions);
}

.nav-links ul li {
    display: inline-block;
    list-style: none;
    margin: 0 10px;
}

.nav-links ul a {
    position: relative;
    display: inline-block;
    text-decoration: none;
    color: var(--textColor);
    font-size: var(--f-500);
    margin: 10px;
    padding: 10px;
    border-radius: 15px;
    transition: all 450ms;
    letter-spacing: 0.5px;
}

.nav-links ul a::after {
    content: '';    
    position: absolute;
    display: block;
    left: 0;
    bottom: 30px;
    width: 0%;
    height: 3px;
    border-radius: 10px;
    background-color: var(--textColor);
    transition: all 450ms;
}

.nav-links ul a:hover::after {
    width: 100%;
    background-color: var(--accentCol);
    transform: translate(0, 5px);
}

.nav-links ul a:hover {
    transform: translate(0, -5px);
    color: var(--accentCol);
}

input[type="checkbox"] {
    visibility: hidden;
    display: none;
}

.check {
    position: relative;
    display: block;
    width: 60px;
    height: 30px;
    border: 3px solid var(--textColor);
    background: transparent;
    cursor: pointer;
    border-radius: 60px;
    overflow: hidden;
    transition: 0.5s;
}

input[type="checkbox"]:hover ~ .check{
    border: 3px solid var(--accentCol);
}

.check:before {
    content: '';
    position: absolute;
    inset: -3px 0px 0px -3px;
    border: 3px solid var(--textColor);
    width: 30px;
    aspect-ratio: 1;
    border-radius: 50%;
    transition: 0.5s;
}

input[type="checkbox"]:checked ~ .check:before {
    inset: -3px 0px 0px 27px;
}

input[type="checkbox"]:hover ~ .check:before {
    border: 3px solid var(--accentCol);
}

.borgir {
    display: none;
    font-size: 40px;
    color: var(--textColor);
    transition: color var(--darkTransitions);

}


/* Hero */
.hero-wrapper {
    min-height: 100vh;
    max-width: 200rem;
    margin: auto;
    display: grid;
    place-content: center;
}

.hero-shadow {
    border-radius: 60px;
    margin-inline: 80px;
    box-shadow: var(--shadow);
}

.hero-info {
    position: relative;
    background-color: rgba(0, 0, 0, 0.603);
    max-width: 1500px;
    height: 600px;
    border-radius: 60px 60px 0 0;
    display: flex;
    justify-content: start;
    align-items: end;
    overflow: hidden;
    padding: 40px;
}


.hero-bg {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -69%);
    z-index: -1;
}

.hero-links {
    background-color: var(--bg);
    max-width: 1500px;
    height: 142px;
    border-radius: 0 0 60px 60px;
    color: var(--textColor);
    display: flex;
    justify-content: center;
    align-items: center;
    transition: background-color 500ms;
}

.hero-img {
    position: relative;
    width: 400px;
    aspect-ratio: 1/1;
    background-color: #FFFFFF;
    border-radius: 50%;
    margin: 0px 70px 20px 90px;
    overflow: hidden;
    border: 10px solid #ffffff;
    box-shadow: 0 0 20px 5px rgba(0, 0, 0, 0.39);
}

.hero-photo {
    width: 400px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.hero-details {
    display: inline-block;
    position: relative;
    margin: 0 30px;
    margin-bottom: 220px;
}

.hero-intro {
    color: var(--lightText);
    font-size: var(--f-500);
    font-weight: 400;
    letter-spacing: 10px;
    text-transform: uppercase;
}

.hero-name {
    color: var(--lightText);
    font-size: var(--f-800);
    font-weight: 800;
    letter-spacing: 5px;
    text-transform: uppercase;
}

.hero-titles {
    /* opacity: 0; */
    color: var(--lightText);
    font-size: var(--f-600);
    font-weight: 300;
    letter-spacing: 4px;
    transition: opacity 450;
}

.pulse-animation {
    animation: pulse 5s linear infinite;
}

@keyframes pulse {
    0% ,10%, 90%, 100% {
        opacity: 0;
    }

    20%, 80% {
        opacity: 1;
    }
}

.scale-click {
    cursor: pointer;
    transition: transform 250ms, background-color 450ms;
}

.scale-click:active {
    transform: scale(0.95, 0.95);
}

.hero-btn {
    display: inline-block;
    position: absolute;
    font-family: var(--font);
    font-size: var(--f-600);
    padding: 20px 70px;
    bottom: -140px;
    border: 2px solid var(--lightText);
    outline: none;
    border-radius: 50px;
    color: var(--lightText);
    background: linear-gradient(120deg, #7668c5, #83afe7);
    text-decoration: none;
    transition: transform 450ms, background 450ms;
}

.hero-btn:hover {
    transform: scale(1.03, 1.03);
    cursor: pointer;
    background: linear-gradient(45deg, #7668c5a1, #83aee793);
}

.icons {
    display: inline-block;
    color: var(--textColor);
    font-size: 70px;
    margin-inline: 80px;
    transition: transform 350ms, opacity 350ms, color var(--darkTransitions);
    opacity: 0.4;
}

.icons:hover {
    transform: scale(1.1, 1.1);
    opacity: 1;
}


/* About Me */
.AM-wrapper {
    max-width: 90rem;
    margin: auto;
}

.AM-bg {
    background: linear-gradient(300deg, #7d6ed1 0%, #83a6e7 100%);
    padding: 60px;
    border-radius: 40px;
    margin-inline: 80px;
    margin-bottom: 150px;
    text-align: center;
    border-top: 5px dashed var(--textColor);
    border-bottom: 5px dashed var(--textColor);
    transition: border var(--darkTransitions);
}

.AM-title {
    font-size: var(--f-700);
    color: var(--lightText);
    letter-spacing: 5px;
    margin: 0 0 30px 0;
    text-transform: uppercase;
}

.AM-text {
    color: var(--lightText);
    font-size: var(--f-500);
    text-align: left;
}


/* Porjects */
.P-wrapper {
    max-width: 100rem;
    margin: auto;
}

.P-header {
    position: relative;
    font-size: var(--f-850);
    text-align: center;
    margin-bottom: 80px;
    color: var(--textColor);
    height: 100px;
    background-image: linear-gradient(to right, var(--textColor) 50%, rgba(141, 56, 56, 0) 0%);
    background-position: bottom;
    background-size: 50px 2px;
    background-repeat: repeat-x;
    transition: color var(--darkTransitions);
}

.P-header::after {
    content: '';
    position: absolute;
    width: 100%;
    left: 0;
    bottom: 0;
    height: 0px;
    /* border: none;
    border-bottom: 3px dashed var(--textColor); */
    opacity: 0.1;
}

.P-flex {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: start;
    margin-bottom: 150px;
}

.P-shadow {
    box-shadow: var(--shadow);
    margin: 20px;
    border-radius: 33px;
}

.P-card {
    width: 406px;
    border-radius: 33px;
    border: 3px solid var(--accentCol);
    transition: transform 450ms;
}

.P-card:hover {
    transform: scale(1.03, 1.03);
}

.P-img {
    background-color: transparent;
    width: 400px;
    height: 350px;
    border-radius: 30px 30px 0 0;
    overflow: hidden;
    display: flex;
    justify-content: center;
}

.P-frame {
    width: 400px;
    height: 350px;
    border-radius: 30px 30px 0 0;
}

.P-card-img {
    position: relative;
    height: 400px;
    transition: all 450ms;
    align-self: center;
    user-select: none;
    -webkit-user-drag: none;
}

.P-img:hover .P-card-img {
    transform: scale(1.06, 1.06);
}

.P-info {
    position: relative;
    background-color: var(--bg);
    padding: 20px;
    border-radius: 0 0 30px 30px;
    transition: background-color var(--darkTransitions);
}

.P-title {
    display: inline-block;
    font-size: var(--f-600);
    font-weight: 700;
    width: 100%;
    margin-inline: auto;
    margin-bottom: 20px;
    text-align: center;
    text-decoration: none;
    color: var(--textColor);
    transition: color var(--darkTransitions);
}

.P-desc {
    font-size: var(--f-400);
    margin-bottom: 30px;
    font-weight: 500;
    text-align: center;
    color: var(--textColor);
    transition: color var(--darkTransitions);
}

.P-tags {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
    margin-bottom: 10px;
}

.P-tag {
    display: inline-block;
    padding: 7px;
    margin: 5px;
    font-weight: 300;
    background-color: var(--tagBg);
    color: var(--textColor);
    cursor: pointer;
    user-select: none;
    transition: all 450ms;
}

.P-tag:hover {
    transform: translate(0px, -5px);
    box-shadow: 0px 5px 0 0 #b8b8b8;;
}

.P-git {
    position: relative;
    font-size: 30px;
    bottom: 0px;
    left: 50%;
    transform: translate(-50%);
    color: var(--textColor);
    opacity: 0.4;
    transition: all 450ms;
}

.P-git:hover {
    opacity: 1;
    transform: scale(1.05, 1.05) translate(-50%);
}


/* Skills */
.S-wrapper {
    max-width: 100rem;
    margin: auto;
    text-align: center;
    margin-bottom: 50px;
}

.S-header {
    position: relative;
    font-size: var(--f-850);
    text-align: center;
    margin-bottom: 40px;
    color: var(--textColor);
    height: 100px;
    background-image: linear-gradient(to right, var(--textColor) 50%, rgba(141, 56, 56, 0) 0%);
    background-position: bottom;
    background-size: 50px 2px;
    background-repeat: repeat-x;
    transition: color var(--darkTransitions);
}

.S-header::after {
    content: '';
    position: absolute;
    width: 100%;
    left: 0;
    bottom: 0;
    height: 0px;
    /* border: none;
    border-bottom: 3px dashed var(--textColor); */
    
    opacity: 0.1;
}

.S-icons {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.S-icon {
    position: relative;
    filter: var(--S-icon);
    transition: filter var(--darkTransitions), transform 450ms;
    width: 110px;
    margin: 30px;
    user-select: none;
    cursor: pointer;
    -webkit-user-drag: none;
}

.S-icon-flex:hover .S-icon {
    transform: translate(0px, -10px);
}

.S-icon-flex {
    position: relative;
}

.S-icon-tag {
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, 40px);
    color: var(--textColor);
    z-index: -2;
    transition: all 450ms;
    user-select: none;
}

.S-icon-flex:hover .S-icon-tag {
    opacity: 1;
    transform: translate(-50%, 55px);
}


/* Footer */
.F-wrapper {
    width: 100%;
    display: grid;
    place-content: center;
    background-color: #202020;
    text-align: center;
}

.F-wrapper > p {
    color: var(--lightText);
    opacity: 0.3;
    margin: 10px;
}

.F-contact {
    color: var(--lightText);
    font-size: var(--f-400);
    margin: 10px;
}

.F-contact a {
    text-decoration: none;
    color: var(--lightText);
}

/* Global classes */
.sticky {
    position: fixed;
    top: 0;
    left: 50%;
    z-index: 5;
    transform: translate(-50%);
}

.blur {
    backdrop-filter: blur(2rem);
    -webkit-backdrop-filter: blur(2rem);
}

.fade-in {
    opacity: 0;
    transition: opacity 1.5s ease-out, transform 1.5s ease-out;
}

.fade-in.appear {
    opacity: 1;
}

.from-bottom {
    transform: translateY(50px);
    transition: opacity 1.5s ease-out, transform 1.5s ease-out;
}

.from-bottom.appear {
    transform: translateY(0);
}

.P-shadow:nth-child(2) {
    transition-delay: 200ms;
}

.S-icon-flex:nth-child(2) {
    transition-delay: 200ms;
}

.S-icon-flex:nth-child(3) {
    transition-delay: 400ms;
}

.S-icon-flex:nth-child(4) {
    transition-delay: 600ms;
}

.S-icon-flex:nth-child(5) {
    transition-delay: 800ms;
}

.S-icon-flex:nth-child(6) {
    transition-delay: 1000ms;
}

.S-icon-flex:nth-child(7) {
    transition-delay: 1200ms;
}

.S-icon-flex:nth-child(8) {
    transition-delay: 1400ms;
}

.S-icon-flex:nth-child(9) {
    transition-delay: 1600ms;
}


/* Media Queries */
@media screen and (max-width: 1400px) {
    .hero-info {
        flex-wrap: wrap;
        justify-content: center;
        text-align: center;
        align-items: center;
        max-width: 900px;
        height: 700px;
        flex-direction: row;
    }

    .hero-links {
        height: 100px;
    }

    .icons {
        font-size: 50px;
        margin-inline: 50px;
    }

    .hero-img {
        margin: 30px 0 40px 0;
        width: 300px;
    }

    .hero-photo {
        width: 300px;
    }

    .hero-btn {
        display: inline-block;
        left: 50%;
        transform: translate(-50%);
        bottom: -100px;
    }

    .hero-btn:hover {
        transform: translate(-50%) scale(1.03, 1.03);
    }

    .nav-wrapper {
        line-height: 40px;
    }

    .nav-links ul a::after {
        bottom: 0;
    }
}

@media screen and (max-width: 1000px) {

    .hero-img {
        width: 300px;
    }

    .hero-photo {
        width: 300px;
    }

    .hero-btn {
        font-size: var(--f-400);
    }

    .hero-name {
        font-size: var(--f-700)
    }
}

@media screen and (max-width: 900px) {
    .nav-links {
        /* display: none; */
        opacity: 0;
        position: absolute;
        top: 0;
        left: 50%;
        padding-block: 70px;
        transform: translate(-50%, -100%);
        text-align: center;
        width: 100%;
        /* background-color: var(--bgLowOpacity); */
        transition: opacity 450ms, transform 450ms ease-out, background-color var(--darkTransitions);
    }

    .nav-links[data-visible="true"] {
        transform: translate(-50%, 0);
        opacity: 1;
        transition: opacity 450ms, transform 450ms ease-in, background-color var(--darkTransitions);
    }

    .nav-wrapper {
        height: 80px;
        transition: height 450ms ease-out;
    }
    
    .nav-wrapper[bg-expanded="true"] {
        height: 640px;
        transition: height 450ms ease-in;
    }    

    .nav-links ul li {
        display: block; 
    }

    .nav-links ul li a {
        font-size: var(--f-600);
        margin-inline: 10px;
        margin-block: 20px;
    }

    .nav-flex {
        height: 40px;
        justify-content: space-between;
        align-items: center;
        margin-inline: 30px;
        padding: 40px;
    }

    .borgir {
        display: inline-block;
        position: relative;
        top: 5px;
        z-index: 5;
        cursor: pointer;
    }

    .bar1, .bar2, .bar3 {
        width: 35px;
        height: 5px;
        background-color: var(--textColor);
        margin: 7px 0px;
        transition: transform 450ms, opacity 450ms, background-color var(--darkTransitions);
        border-radius: 3px;
    }

    .bar2 {
        position: relative;
        left: 6px;
    }

    .change .bar1 {
        transform: translate(0px, 12px) rotate(-45deg);
    }
    
    .change .bar2 {
        opacity: 0;
        transform: translate(30px, 0px);
    }
    
    .change .bar3 {
        transform: translate(0px, -12px) rotate(45deg);
    }

    .logo {
        position: relative;
        z-index: 5;
    }

    .check {
        visibility: hidden;
        opacity: 0;
        position: absolute;
        bottom: 30px;
        left: 50%;
        transform: translate(-50%, -0%);
        transition: opacity 450ms;
    }

    .check[borgir-mode="true"] {
        visibility: visible;
        opacity: 1;
        bottom: 40px;
        transition: opacity 450ms;
    }

    .icons {
        font-size: 50px;
        margin-inline: 30px;
    }

    .S-icon {
        width: 80px;
    }

    .S-icon-tag {
        transform: translate(-50%, 20px);
    }

    .S-icon-flex:hover .S-icon-tag {
        transform: translate(-50%, 40px); 
    }
}

@media screen and (max-width: 712px){
    .hero-btn {
        font-size: var(--f-400);
        bottom: -80px;
        padding-inline: 40px;
        padding-block: 20px;
    }

    .hero-img {
        width: 200px;
        border: 3px solid var(--lightText);
        margin-top: 0;
        margin-bottom: 20px;
    }

    .hero-shadow {
        margin-inline: 40px;
    }

    .hero-photo {
        width: 200px;
    }

    .hero-info {
        height: 500px;
    }

    .hero-intro {
        font-size: var(--f-400);
        margin-block: 10px;
    }

    .hero-name {
        font-size: var(--f-500);
        margin-block: 10px;
    }

    .hero-titles {
        font-size: var(--f-400);
        margin-block: 10px;
    }

    .AM-bg {
        margin-inline: 20px;
    }

    .F-contact {
       font-size: var(--f-300); 
    }

    .F-wrapper > p {
        font-size: var(--f-300);
    }


}

@media screen and (max-width: 576px) {
    .hero-img {
        margin-top: 20px;
        margin-bottom: 0;
    }
    
    .hero-btn {
        bottom: -70px;
    }

    .icons {
        font-size: 30px;
    }

    .nav-flex {
        margin-inline: 10px;
    }

    .hero-shadow {
        width: 100%;
        margin: 0;
        border-radius: 0;
    }

    .hero-info {
        border-radius: 0;
        padding: 0;
    }

    .hero-details {
        margin-bottom: 100px;
    }

    .hero-links {
        border-radius: 0;
        height: 80px;
    }

    .S-icon {
        width: 50px;
        margin: 15px;
    }

    .S-icon-tag {
        transform: translate(-50%, 5px);
        font-size: var(--f-300);
    }

    .S-icon-flex:hover .S-icon-tag {
        transform: translate(-50%, 20px); 
    }

    .P-header, .S-header {
        font-size: var(--f-800);
        height: 90px;
        margin-bottom: 50px;
    }

}

@media screen and (max-width: 440px) {
    .P-card {
        width: 306px;
    }

    .P-img {
        width: 300px;
        height: 250px;
    }

    .P-frame {
        width: 300px;
        height: 250px;
    }

    .P-card-img {
        height: 300px;
    }

    .P-title {
        font-size: var(--f-500);
    }

    .P-desc {
        font-size: var(--f-300);
    }

    .P-tag {
        font-size: var(--f-300);
    }

    .nav-flex {
        margin-inline: 0px;
        padding-inline: 20px;
    }

    .icons {
        font-size: 30px;
        margin-inline: 20px;
    }

    .check {
        width: 50px;
        height: 25px;
    }

    .check::before {
        width: 25px;
    }

    input[type="checkbox"]:checked ~ .check:before {
        inset: -3px 0px 0px 22px;
    }

    .AM-title {
        font-size: var(--f-500);
    }

    .AM-text {
        font-size: var(--f-400);
    }

    .AM-bg {
        padding: 30px;
    }

    .P-header, .S-header {
        font-size: var(--f-700);
        height: 60px;
        margin-bottom: 40px;
    }

    .P-flex {
        margin-bottom: 90px;
    }
}

@media screen and (max-width: 380px) {


    .hero-intro {
        font-size: var(--f-300);
        margin-block: 10px;
    }

    .hero-name {
        font-size: var(--f-400);
        margin-block: 10px;
    }

    .hero-titles {
        font-size: var(--f-300);
        margin-block: 10px;
    }

    .hero-btn {
        font-size: var(--f-300);
        bottom: -60px;
        padding-inline: 30px;
        padding-block: 10px;
    }

    .P-card {
        width: 256px;
    }

    .P-img {
        width: 250px;
        height: 200px;
    }

    .P-frame {
        width: 250px;
        height: 200px;
    }

    .P-card-img {
        height: 250px;
    }
}